# Modify Strings

In [1]:
# Upper Case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [2]:
# Lower Case
a = "Hello, World!"
print(a.lower())

hello, world!

In [3]:
# Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [4]:
# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [5]:
# Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

String methods 
- https://www.w3schools.com/python/python_ref_string.asp
- https://www.w3schools.com/python/python_strings_methods.asp

# String Concatenation

In [6]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [7]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Format - Strings

In [8]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the **format()** method!

In [9]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [10]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [11]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Escape Character

- To insert characters that are illegal in a string, use an escape character.

- An escape character is a backslash \ followed by the character you want to insert.

In [12]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [13]:
# To fix this problem, use the escape character \":
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.