In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered
Unordered means that the items in a set do not have a defined order.Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.
Once a set is created, you cannot change its items, but you can remove items and add new items.

### Duplicates Not Allowed

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
# True and 1 is considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'apple', True, 2, 'banana', 'cherry'}

In [4]:
# False and 0 is considered the same value
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{'apple', False, True, 'banana', 'cherry'}

In [5]:
# A set with strings, integers and boolean values
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'abc', 'male'}

In [6]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [7]:
# Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [8]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

# Change Items
Once a set is created, you cannot change its items, but you can add new items.

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [10]:
# Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'mango', 'banana', 'pineapple', 'cherry', 'papaya'}

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [11]:
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'kiwi', 'banana', 'cherry'}

To remove an item in a set, use the remove(), or the discard() method.

In [12]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [13]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}